@media (min-width: 970px) {
    .mainContent{
        margin-top: 60px;
    }


}



@media (min-width: 980px) {

    .contactPictureRight {
        margin-top: 20px;
    }

    .mainGallery{
        margin-top: 60px;
    }
}

