@media (min-width: 970px) {
    .mainContent{
        margin-top: 60px;
    }

}

@media (min-width: 980px) {

    .contactPictureRight {
        margin-top: 20px;
    }

    .mainGallery{
        text-align: center;
        margin-top: 60px;
        margin-left: 30px;
        margin-right: 30px;
    }


}

@media (min-width: 641px) and (max-width: 768px) {
    .mainGallery{
        text-align: center;
        margin: 0 50px;
    }

    .picture > a{
        margin: 10px 20px;
    }
}


@media (max-width: 580px) {

    .mainGallery{
        text-align: center;
        margin: 0 30px;
    }

    .picture > a{
        margin:20px auto;
        width: 86%;
        text-align: center;
    }

}



